{% extends "video/layout.html" %}

{% block content %}
<h2>Log in</h2>

{% if form.errors %}
<p class="text-warning">Your username and password didn't match. Please try again.</p>
{% endif %}

{% if next %}
    {% if user.is_authenticated %}
        <p class="text-warning">Your account doesn't have access to this page. To proceed, please login with an account that has access.</p>
    {% endif %}
{% endif %}

<form method="post" action="{% url 'login' %}" class="form-horizontal">
{% csrf_token %}
    <div class="form-group form-group-lg">
        <label class="col-sm-3 text-right control-label" for="id_username">Username:</label>
        <div class="col-sm-9">
            <input class="form-control" type="text" autofocus id="id_username" required name="username">
        </div>
    </div>
    <div class="form-group form-group-lg">
        <label class="col-sm-3 text-right control-label" for="id_password">Password:</label>
        <div class="col-sm-9">
            <input class="form-control" type="password" id="id_password" required name="password">
        </div>
    </div>
    <div class="form-group form-group-lg">
        <div class="col-sm-3 text-right">
            &nbsp;
        </div>
        <div class="col-sm-9">
            <input class="btn btn-lg btn-success" type="submit" value="Log in" />
        </div>
    </div>

<input type="hidden" name="next" value="{{ next }}" />
</form>

<p><a href="{% url 'password_reset' %}">Lost password?</a></p>

{% endblock %}